<% include header.ejs %>   
<div class="container">

      <div class="row">
        <div class="col-md-8">

          <!-- template code -->
          
          <h1>An error occurred</h1>
          <p>An error occurred while processing your request. Please try again in a few moments.</p>

        </div> <!-- /col-md-8 -->
        <div class="col-md-4">

          <h3>About Me</h3>

          <p>...</p>

          <h3>Links</h3>

          <p>...</p>

        </div> <!-- /col-md-4 -->
      </div> <!-- /row -->

    </div>  
<% include footer.ejs %>   	