<div class="col-md-4">
	<h3>About Me</h3>
	<p>Ansuman Mishra <br /> (Front end developer)</p>
	<h3>Links</h3>
	<p><a href="//ansumanhere.blogspot.com" target="_blank">My Blog</a></p>
</div> <!-- /col-md-4 -->
